/* GLOBAL STYLES */
html {
  font-size: 62.5%;
}

body {
  width: 50%;
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #664ac2;
  color: #ffffff;
  letter-spacing: 2px;
  text-shadow: 1px 1px #111111;
}

/* HEADER STYLES */
header {
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 2px 2px #111111;
  margin-bottom: 1rem;
}

header p {
  align-self: flex-end;
  font-size: 2rem;
}

header p a {
  text-decoration: none;
  color: #f7551a;
  transition: all 0.3s;
}

header p a:hover {
  color: #f7865d;
}

header p a:active {
  color: #6e250a;
}

/* TIMER STYLES */
.timer {
  margin: 4rem 0;
  text-align: center;
}

.timer__container {
  background-color: #111111;
  width: 170px;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.timer__countdown {
  font-size: 6rem;
}

.timer__notification-container {
  margin-top: 2rem;
  padding: 0.75rem;
  border-radius: 5px;
}

.timer__notification-text {
  font-size: 2rem;
  font-weight: bold;
  color: #3ae33a;
  visibility: hidden;
}

/* QUIZ BOX STYLES */
.quiz__start-btn {
  background-color: #dc3434;
  color: #ffffff;
  padding: 1.5rem 4rem;
  font-size: 3rem;
  margin-top: 3rem;
  border-radius: 1rem;
  border: none;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.quiz__start-btn:hover {
  background-color: #f04b4b;
}

.quiz__start-btn:active {
  background-color: #7e1414;
}

.quiz__container {
  border: 2px solid white;
  padding: 1.5rem;
  margin-top: 5rem;
}

.quiz__question {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.quiz__answers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.quiz__answers-container button {
  flex: 1 0 33%;
  padding: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}
